:root {
  --color-first: #ffffff; /*color for tag h1 and text in button in header*/
  --color-second: #212121; /*color for section headers*/
  --color-third: #757575; /*color for tag p in other sections in files index and portfolio*/
  --color-four: #2196f3; /*color for span logo and hover*/
  --color-border: rgba(175, 177, 184, 0.3); /* color for borders */
}

* {
  box-sizing: border-box;
  margin: 0 auto;
  list-style: none;
}

body {
  font-family: "roboto", sans-serif;
  background-color: white;
  font-style: normal;
  width: 1600px;
  position: relative;
  margin: 0 auto;
}

header {
  max-width: 100%;
  padding: 32px;
  border-bottom: 2px solid #eeeeee;
  justify-content: space-between;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 60px;
}

.mail__icon {
  --color4: currentColor;
  fill: var(--color4);
  height: 12px;
  width: 16px;
  margin-right: 10px;
}

.phone__icon {
  --color4: currentColor;
  fill: var(--color4);
  height: 16px;
  width: 10px;
  margin-right: 10px;
}

.contact__item {
  font-size: 14px;
  font-weight: 500;
}

.contact__list {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: baseline;
  padding-left: 380px;
}

.contact__list:last-child {
  margin: 0;
}

.baner {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/photo00.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  height: 600px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.article__icon {
  height: 70px;
  width: 70px;
}

.article__icon-box {
  display: flex;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 0;
}

.menu {
  display: flex;
  max-width: 1170px;
  justify-content: flex-start;
  align-items: center;
}

.baner__content {
  font-size: 44px;
  width: 696px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.baner__content:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  text-decoration: underline;
  color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: "raleway";
  font-style: normal;
  margin: 0;
}

.nav__list {
  list-style: none;
  display: inline-flex;
  gap: 30px;
}

.nav__link:hover {
  color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  border-radius: 6px;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link {
  display: flex;
  color: var(--color-third);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.contact__link:hover {
  color: var(--color-four);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__button {
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0px auto;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

.filter__list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 26px;
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
}

.btn:hover {
  background-color: #2196f3;
  text-decoration: none;
  color: white;
  box-shadow: 4px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article__container {
  width: auto;
  justify-content: center;
  display: flex;
  flex-wrap: row;
  columns: 4;
  padding-top: 94px;
}

.article__list {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: inline-flex;
  text-align: justify;
  gap: 30px;
  padding: 0;
}

.team__container {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
}
.team__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 40px;
}
.team__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.team__img:hover {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.14);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
}
.container__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 40px;
}

.container__heading:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__description {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.job__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.job__section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.job__img {
  justify-content: center;
  display: flex;
  margin-bottom: 94px;
  margin-left: 0;
  margin-right: 0;
}

.container__heading:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job__list {
  list-style: none;
  padding: 0;
  display: inline-flex;
  gap: 30px;
}

.container__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  display: flex;
  justify-content: center;
}

.job__list-item {
  width: 370px;
  overflow: hidden;
  list-style-type: none;
}

.job__description-box {
  width: 100%;
  --color-bg: rgba(47, 48, 58, 0.8);
  background-color: var(--color-bg);
  text-align: center;
  width: 370px;
  height: 70px;
  top: 1432px;
  position: absolute;
  z-index: 1;
}

.job__description {
  color: var(--color-first);
  text-transform: uppercase;
  line-height: 1.17;
  padding: 27px 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__item {
  width: 270px;
  height: 428px;
  border-style: solid;
  border: 1px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  margin-bottom: 94px;
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__member:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__profession:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link {
  width: 206px;
  height: 56px;
  display: inline-flex;
  column-gap: 24px;
}

.social__link:hover {
  cursor: pointer;
  --color4: var(--color-first);
  background-color: var(--color-four);
}

.social__link {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-top: 16px;
  height: 44px;
  width: 44px;
  border-radius: 50px;
  background-color: var(--color-first);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.article__content {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  width: 270px;
  height: 75px;
  color: #757575;
}
.article__content:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.article__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  height: 16px;
}
.article__heading:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__container {
  padding: 3%;
  display: flex;
  justify-content: center;
  margin-top: 94px;
  padding: 0;
}

.main__container {
  display: flex;
  margin-top: 56px;
  margin-bottom: 94px;
}

.portfolio__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  column-gap: 30px;
  padding: 0;
}

.portfolio__item {
  position: relative;
  list-style-type: none;
  height: auto;
  max-width: 370px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #eeeeee;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-top: 20px;
}

.portfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
}

.portfolio__heading:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__description:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__container {
  height: 372px;
  max-width: 100%;
}

.client__list {
  padding: 0;
  height: 184px;
  max-width: 1170px;
  display: flex;
  align-self: center;
  justify-content: space-between;
}

.client__icon {
  height: 60px;
  width: 106px;
}

.client__item {
  height: 92px;
  width: 170px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.client__link {
  width: 100%;
  height: 100%;
  fill: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon:hover {
  --color4: var(--color-four);
  fill: var(--color-four);
}

.client__item:hover {
  cursor: pointer;
  border: 1px solid var(--color-four);
}

.footer__mail-link {
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: underline;
  margin: 0;
}

.footer__phone-link:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail-link:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__phone-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
}

.footer__street:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
}

.footer__street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  align-items: flex-start;
}

footer {
  height: auto;
  width: 100%;
  background-color: #2f303a;
}

address {
  display: flex;
  justify-content: flex-start;
  max-width: 1170px;
}

.footer__container-logo {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 72px;
}

.footer__street {
  cursor: pointer;
}
.footer__logo-link {
  text-decoration: none;
  display: inline-flex;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: "raleway";
  font-style: normal;
  margin: 0;
}

.footer__logo:hover {
  text-decoration: underline;
  color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__heading {
  display: flex;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 10px;
  text-transform: uppercase;
  margin-top: 72px;
}

.footer__box {
  padding-left: 70px;
}

.footer__heading:hover {
  text-decoration: underline;
  text-decoration-color: #2196f3;
  text-decoration-thickness: 3px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  height: 44px;
  width: 44px;
  margin-top: 16px;
  border-radius: 50px;
  background-color: rgba(175, 177, 184, 0.3);
  --color4: var(--color-first);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__icon:hover {
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 50px;
  cursor: pointer;
  background-color: var(--color-four);
}

.footer__icon-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  padding: 0;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background-color: #ffffff;
  animation: modal-open 2s forwards;
}

.is-hidden {
  display: none;
}

@keyframes modal-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__button-close:hover {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active::after {
  content: "";
  width: 55px;
  top: 60px;
  height: 5px;
  display: block;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
}
.portfolio__overlay {
  padding: 49px 24px 49px 45px;
  min-height: 294px;
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background-color: #2196f3;
  transform: translateY(300%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.9;
}

.portfolio__item:hover .portfolio__overlay,
.blue-overlay:focus {
  transform: translateY(0);
}

.portfolio__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.form__comment {
  resize: none;
}

textarea {
  min-width: 448px;
  min-height: 120px;
}

.form__name,
.form__telephone,
.form__email {
  height: 40px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  border-left: none;
  border-right: none;
  border-bottom-left-radius: unset;
  border-top-left-radius: unset;
}

.form__comment {
  height: 40px;
  width: 448px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 12px;
  margin-top: 4px;
}
.contact__form {
  display: block;
  padding: 40px;
}

.form__heading {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.form__label {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
  margin-left: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}
.form__checkbox {
  margin-left: 15px;
  margin-right: 8px;
  height: 15px;
  width: 15px;
}
.form__accept-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.form__button--send {
  margin-top: 0;
}

.form__link {
  color: #2196f3;
}

.form__label--link {
  font-size: 14px;
}

textarea::placeholder {
  padding: 10px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

label {
  position: relative;
}

.icon__container {
  width: 448px;
  height: 40px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.icon__container:hover,
.form__name:hover,
.form__email:hover,
.form__telephone:hover {
  border-color: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox-icon {
}

.form__container {
  display: flex;
  flex-wrap: wrap;
  width: 448px;
  padding-top: 10px;
  position: relative;
  border: 0px solid;
  max-height: 20%;
}
.form__container:hover {
  --color4: var(--color-four);
  fill: var(--color-four);
}
.form__icon {
  margin: 15px;
}

.newsletter__box {
  display: flex;
  margin: 40px;
}

.footer__newsletter {
  height: 50px;
  width: 358px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  background: rgba(47, 48, 58, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-weight: 400;
  font-size: 16px;
  color: white;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  margin-right: 12px;
}

.form__button--signup {
  margin: 0;
  padding-left: 42px;
}

.footer__box-newsletter {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-top: 10px;
  text-transform: uppercase;
  width: 570px;
  flex-direction: column;
}
.footer__heading--newsletter {
  margin-left: 78px;
  margin-right: 0;
  padding: 0;
  margin-bottom: 20px;
}

.newsletter__container {
  display: inline-flex;
  align-items: baseline;
  margin-left: 78px;
}

.icon__send {
  margin-left: 24px;
  padding: 0;
}
